{% extends "layouts/main.html" %}

{% set pageName = "Application submitted" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Application submitted</h1>
      <div class="govuk-panel__body">
        Your reference number<br>
        <strong>{{ data["reference"] }}</strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We have sent your application to your local council. They will check your benefit and income details and contact you with a decision. If approved, free school meals will start within 5 working days of you getting a decision letter.</p>
    <p class="govuk-body">We will contact you within 10 working days.</p>
    <p class="govuk-body"><a href="/start" class="govuk-link">Start a new application</a></p>

  </div>
</div>
{% endblock %}
